<body>



  <div class="video-wrapper">
    <video autoplay muted loop playsinline>
      <source src="https://www.pexels.com/ja-jp/download/video/4765224/" type="video/mp4">
    </video>
  </div>

<h1 class="news_title">NEWS</h1>

<% @regions.each do |region_name, data| %>
  <div class="region-section">
    <h2><%= region_name %></h2>
    <div class="region-container">
      <div class="region-image">
        <%= image_tag data[:image], alt: region_name %>
      </div>
      <div class="region-countries">
        <% data[:countries].each do |country| %>
          <%= link_to country, news_path(country: country), class: "country-link" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</body>
